<!DOCTYPE html>
<html>
	<head>
		<title>BURGER</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="heading"></div>
				<div class="title">
					<h1>Burgulicious</h1>
					<p>Eat it your way!</p>
				</div>
		{{{body}}}
	</body>

</html>